/*fonts*/
@font-face {
    font-family: 'ralewayblack';
    src: url('../fonts/raleway-black.woff2') format('woff2'),
         url('../fonts/raleway-black.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ralewaybold';
    src: url('../fonts/raleway-bold.woff2') format('woff2'),
         url('../fonts/raleway-bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ralewayextrabold';
    src: url('../fonts/raleway-extrabold.woff2') format('woff2'),
         url('../fonts/raleway-extrabold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ralewayextralight';
    src: url('../fonts/raleway-extralight.woff2') format('woff2'),
         url('../fonts/raleway-extralight.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ralewaylight';
    src: url('../fonts/raleway-light.woff2') format('woff2'),
         url('../fonts/raleway-light.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ralewaymedium';
    src: url('../fonts/raleway-medium.woff2') format('woff2'),
         url('../fonts/raleway-medium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ralewayregular';
    src: url('../fonts/raleway-regular.woff2') format('woff2'),
         url('../fonts/raleway-regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ralewaysemibold';
    src: url('../fonts/raleway-semibold.woff2') format('woff2'),
         url('../fonts/raleway-semibold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ralewaythin';
    src: url('../fonts/raleway-thin.woff2') format('woff2'),
         url('../fonts/raleway-thin.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/*css reset and other prestyled formations*/
html * {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  font-family: "ralewayregular";
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

/*container, centered*/
[class*="container"] {
	max-width: 1056px;
	margin: 0 auto;
	overflow: auto;
}

/*header*/
header {
  height: 45px;
  background-color: #000;
  padding: 13px;
  font-size: 1rem;
  color: #fff;
}

.header__logo__item--bold {
  font-family: 'ralewaybold';
  color: #24BA9F;
}

.header__nav {
  float: right;
}

.header__nav::after {
  content: '';
  clear: both;
  display: table;
}

.header__nav a {
  font-family: "ralewaybold";
  color: #fff;
}

.header__nav a:nth-child(2) {
  margin-left: 70px;
  margin-right: 50px;
}

/*headline*/
.headline {
  background: #fafafa; /* Old browsers */
  background: -moz-linear-gradient(top, #fafafa 0%, #fafafa 40%, #cccbd3 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #fafafa 0%,#fafafa 40%,#cccbd3 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #fafafa 0%,#fafafa 40%,#cccbd3 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fafafa', endColorstr='#cccbd3',GradientType=0 ); /* IE6-9 */
}

.headline__container > * {
  float: left;
}

.headline__container::after {
  content: '';
  clear: both;
  display: table;
}

.headline__prev, .headline__next {
  font-family: "ralewaylight";
  font-size: 5rem;
  color: #24BA9F;
  margin-top: 200px;
}

.headline__next {
  float: right;
}

.headline__img {
  margin-top: 80px;
  width: 125%;
  height: 125%;
}

[class*="headline__logo__item"] {
  margin-top: 150px;
  margin-bottom: 40px;
  font-size: 2.5rem;
}

.headline__logo__item--bold {
  font-family: "ralewaybold";
  color: #24BA9F;
}

.headline__text {
  width: 40%;
  margin-left: 30px;
  padding: 0 20px;
  text-align: center;
  line-height: 25px;
}

.headline__text p {
  font-size: 0.9rem;
}

.headline__button {
  margin-top: 30px;
  font-size: 1.5rem;
  text-transform: uppercase;
  width: 265px;
  height: 50px;
  background-color: #24BA9F;
  border-radius: 10px;
}

.headline__button a {
  color: #fff;
}

/*description*/
.description__container {
  margin-bottom: 60px;
}

.description__container > div {
  float: left;
}

.description__container::after {
  content: '';
  clear: both;
  display: table;
}

.description__img, .description__text {
  margin-top: 30px;
  border: 1px solid #DBDBDB;
}

.description__img:nth-child(2) {
  margin: 30px 28px;
}

.description__text {
  position: relative;
  width: 340px;
  padding: 20px;
}

.description__img {
  position: relative;
  width: 329px;
  height: 225px;
}

.description__transparent {
  display: block;
  position: absolute;
  bottom: 15px;
  width: 329px;
  height: 60px;
  background-color: #fff;
  background: rgba(255, 255, 255, 0.5);
}

[class*="description__title"] {
  position: absolute;
  width: 138px;
  font-size: 1rem;
  font-family: "ralewaybold";
  padding-bottom: 2px;
  border-bottom: 7px solid #24BA9F;
}

.description__title--img {
  bottom: 35px;
  left: 10px;
}

.description__title--text {
  top: 30px;
  left: 20px;
}

.description__text p {
  font-size: 0.9rem;
}

.description__text p:nth-of-type(1) {
  margin-top: 50px;
}

.description__text p:nth-of-type(2) {
  margin: 30px auto;
}

/*pricelist*/
.pricelist {
  background-color: #F1F1F1;
}

.pricelist__container {
  position: relative;
}

.pricelist__container > div {
  float: left;
  margin-top: 150px;
  margin-bottom: 40px;
}

.pricelist__container::after {
  content: '';
  clear: both;
  display: table;
}

.pricelist__title {
  position: absolute;
  width: 320px;
  top: 40px;
  left: 0;
  font-family: "ralewaymedium";
  font-size: 1.3rem;
  color: #575757;
  padding-bottom: 3px;
  border-bottom: 7px solid #24BA9F;
}

[class*="pricelist__item"] {
  position: relative;
  width: 330px;
  border: 2px solid #C2C2C2;
}

.pricelist__item--even {
  margin-left: 33px;
  margin-right: 33px;
}
