/*fonts*/
@font-face {
    font-family: 'ralewayblack';
    src: url('../fonts/raleway-black.woff2') format('woff2'),
         url('../fonts/raleway-black.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ralewaybold';
    src: url('../fonts/raleway-bold.woff2') format('woff2'),
         url('../fonts/raleway-bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ralewayextrabold';
    src: url('../fonts/raleway-extrabold.woff2') format('woff2'),
         url('../fonts/raleway-extrabold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ralewayextralight';
    src: url('../fonts/raleway-extralight.woff2') format('woff2'),
         url('../fonts/raleway-extralight.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ralewaylight';
    src: url('../fonts/raleway-light.woff2') format('woff2'),
         url('../fonts/raleway-light.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ralewaymedium';
    src: url('../fonts/raleway-medium.woff2') format('woff2'),
         url('../fonts/raleway-medium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ralewayregular';
    src: url('../fonts/raleway-regular.woff2') format('woff2'),
         url('../fonts/raleway-regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ralewaysemibold';
    src: url('../fonts/raleway-semibold.woff2') format('woff2'),
         url('../fonts/raleway-semibold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ralewaythin';
    src: url('../fonts/raleway-thin.woff2') format('woff2'),
         url('../fonts/raleway-thin.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/*css reset and other prestyled formations*/
html * {
  margin: 0;
  padding: 0;
  border: 0;
  -webkit-box-sizing: border-box; /* For legacy WebKit based browsers */
     -moz-box-sizing: border-box; /* For legacy (Firefox <29) Gecko based browsers */
          box-sizing: border-box;
  font-family: "ralewayregular";
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

textarea {
  resize: none;
}

/*container, centered*/
[class*="container"] {
	max-width: 1076px;
	margin: 0 auto;
  padding-left: 10px;
  padding-right: 10px;
	overflow: auto;
}

/*header*/
header {
  height: 45px;
  background-color: #000;
  padding: 13px;
  font-size: 1rem;
  color: #fff;
}

.header__logo__item--bold {
  font-family: 'ralewaybold';
  color: #24BA9F;
}

.header__nav {
  float: right;
}

.header__nav::after {
  content: '';
  clear: both;
  display: table;
}

.header__nav a {
  font-family: 'ralewaysemibold';
  color: #fff;
}

.header__nav a:nth-child(2) {
  margin-left: 70px;
  margin-right: 50px;
}

/*slider*/
/*I'm not sure how the code construct for that section may look with
slider working*/
.slider {
  background: #fafafa; /* Old browsers */
  background: -moz-linear-gradient(top, #fafafa 0%, #fafafa 40%, #cccbd3 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #fafafa 0%,#fafafa 40%,#cccbd3 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #fafafa 0%,#fafafa 40%,#cccbd3 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fafafa', endColorstr='#cccbd3',GradientType=0 ); /* IE6-9 */
}

.slider__container {
  position: relative;
  height: 510px; /*when height isn't set manually a vertical scroll appears*/
}

.slider__container > * {
  float: left;
}

.slider__container::after {
  content: '';
  clear: both;
  display: table;
}

.slider__prev, .slider__next {
  position: absolute;
  z-index: 1;
  font-size: 5rem;
  color: #24BA9F;
  margin-top: 200px;
}

.slider__next {
  right: 0;
}

.slider__main > * {
  float: left;
}

.slider__main {
  position: absolute;
  z-index: 0;
  left: -30px;
  width: 974px;
}

.slider__img {
  margin-top: 80px;
  width: 125%;
  height: 125%;
}

[class*="slider__logo__item"] {
  margin-top: 150px;
  margin-bottom: 40px;
  font-size: 2.5rem;
}

.slider__logo__item--bold {
  font-family: "ralewaybold";
  color: #24BA9F;
}

.slider__text {
  width: 45%;
  margin-left: 50px;
  padding: 0 20px;
  text-align: center;
  line-height: 25px;
}

.slider__text p {
  font-size: 0.9rem;
  line-height: 1.4rem;
}

.slider__button {
  display: block;
  padding-top: 12px;
  margin-left: 65px;
  margin-top: 30px;
  font-size: 1.5rem;
  text-transform: uppercase;
  width: 265px;
  height: 50px;
  background-color: #24BA9F;
  color: #fff;
  border-radius: 10px;
}

/*description*/
.description__container {
  margin-bottom: 60px;
}

.description__container > div {
  float: left;
}

.description__container::after {
  content: '';
  clear: both;
  display: table;
}

.description__img, .description__text {
  margin-top: 30px;
  border: 1px solid #DBDBDB;
}

.description__img:nth-child(2) {
  margin: 30px 28px;
}

.description__text {
  position: relative;
  width: 340px;
  padding: 20px;
}

.description__img {
  position: relative;
  width: 329px;
  height: 225px;
}

.description__transparent {
  display: block;
  position: absolute;
  bottom: 15px;
  width: 329px;
  height: 60px;
  background-color: #fff;
  background: rgba(255, 255, 255, 0.5);
}

[class*="description__title"] {
  position: absolute;
  width: 138px;
  font-size: 1rem;
  font-family: "ralewaybold";
  padding-bottom: 2px;
  border-bottom: 7px solid #24BA9F;
}

.description__title--img {
  bottom: 35px;
  left: 10px;
}

.description__title--text {
  top: 30px;
  left: 20px;
}

.description__text p {
  font-size: 0.9rem;
  line-height: 1.3rem;
}

.description__text p:nth-of-type(1) {
  margin-top: 50px;
}

.description__text p:nth-of-type(2) {
  margin: 20px auto;
}

/*pricelist*/
.pricelist {
  padding-bottom: 35px;
  background-color: #F1F1F1;
}

.pricelist__container {
  position: relative;
}

.pricelist__container > div {
  float: left;
  margin-top: 150px;
  margin-bottom: 40px;
}

.pricelist__container::after {
  content: '';
  clear: both;
  display: table;
}

[class*="headline"]::after {
  content: '';
  display: block;
  width: 320px;
  height: 7px;
  background-color: #24BA9F;
  margin-top: 3px;
}

.pricelist__headline,
.contact__headline {
  position: absolute;
  width: 320px;
  top: 40px;
  left: 10px;
  font-family: "ralewaymedium";
  font-size: 1.3rem;
  color: #575757;
}

/*pricelist items with price plans*/
[class*="pricelist__item"] {
  position: relative;
  width: 330px;
  height: 500px;
  text-align: center;
  padding-top: 25px;
}

.pricelist__item--odd {
  background-color: #F9F9F9;
  border: 2px solid #C2C2C2;
}

.pricelist__item--even {
  margin-left: 33px;
  margin-right: 33px;
  background-color: #24BA9F;
  border: 2px solid #24BA9F;
}

[class*="pricelist__circle__small"] {
  position: absolute;
  top: -40px;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 56px;
  height: 56px;
  border-radius: 50%;
}

.pricelist__circle__small--odd {
  background-color: #C2C2C2;
  box-shadow: 0 0 0 13px #FFF inset;
  border: 2px solid #C2C2C2;
}

.pricelist__circle__small--even {
  background-color: #F9F9F9;
  border: 15px solid #24BA9F;
}

[class*="pricelist__title"] {
  display: block;
  font-family: "ralewaymedium";
  font-size: 1.5rem;
  font-stretch: condensed;
}

.pricelist__title--odd {
  color: #24BA9F;
}

.pricelist__title--even {
  color: #F9F9F9;
}

[class*="pricelist__circle__large"] {
  width: 128px;
  height: 128px;
  border-radius: 50%;
  left: 0;
  right: 0;
  margin: 20px auto;
  margin-bottom: 40px;
  text-align: center;
}

.pricelist__circle__large--odd {
  background-color: #FFF;
  border: 2px solid #C2C2C2;
}

.pricelist__circle__large--even {
  background-color: #F9F9F9;
  border: 2px solid #F9F9F9;
}

[class*="pricelist__price"] {
  display: block;
  font-family: "ralewaybold";
  font-size: 3rem;
  margin-top: 20px;
}

.pricelist__price--odd {
  color: #C2C2C2;
}

.pricelist__price--even {
  color: #24BA9F;
}

sup {
  font-family: "ralewaybold";
  font-size: 1rem;
}

[class*="pricelist__currency"] {
  font-family: "ralewaybold";
  font-size: 1rem;
}

.pricelist__currency--odd {
  color: #C2C2C2;
}

.pricelist__currency--even {
  color: #24BA9F;
}

[class*="pricelist__listing"] li {
  font-size: 1.5rem;
  padding: 8px 0;
}

.pricelist__listing--odd li:nth-child(2n+1) {
  background-color: #E4E4E4;
  color: #939393;
}

.pricelist__listing--odd li:nth-child(1) {
  border-top: 3px solid #FFF;
}

.pricelist__listing--odd li:nth-child(2n+2) {
  background-color: #F1F1F1;
  color: #787878;
}

.pricelist__listing--even li:nth-child(2n+1) {
  background-color: #FFF;
  color: #939393;
}

.pricelist__listing--even li:nth-child(1) {
  border-top: 3px solid #24BA9F;
}

.pricelist__listing--even li:nth-child(2n+2) {
  background-color: #F1F1F1;
  color: #939393;
}

[class*="pricelist__button"] {
  position: absolute;
  display: block;
  width: 122px;
  height: 34px;
  bottom: 20px;
  left: 0;
  right: 0;
  margin: 0 auto;
  padding: 8px 0;
  font-size: 1rem;
  border-radius: 10px;
}

.pricelist__button--odd {
  background-color: #24BA9F;
  color: #FFF;
}

.pricelist__button--even {
  background-color: #FFF;
  color: #24BA9F;
}

/*contact*/
.contact__container {
  position: relative;
}

.contact * {
  display: block;
}

/*.contact__headline element styled earlier with .pricelist__headline element*/
.contact__form,
.submit__form {
  float: left;
}

.contact__form {
  width: 60%;
  margin-top: 120px;
}

.submit__form {
  width: 340px;
  margin-left: 60px;
  margin-top: 100px;
}

.submit > * {
  float: left;
}

.submit::after {
  content: '';
  clear: both;
  display: table;
}

input[type="text"],
textarea {
  width: 100%;
  border: 1px solid #72e0cc;
  font-size: 2rem;
  font-family: inherit;
  padding: 12px;
  color: #C2C2C2;
}

input[type="text"]::placeholder,
textarea::placeholder {
  color: #C2C2C2;
}

input[id="contact__email"] {
  margin: 28px 0;
}

.submit__img {
  margin-left: 20px;
  margin-bottom: 35px;
}

input[type="submit"] {
  font-size: 2rem;
  font-family: "ralewaybold";
  width: 100%;
  padding: 18px;
  margin-top: 45px;
  color: #FFF;
  background-color: #24BA9F;
  border-radius: 10px;
  cursor: pointer;
}

input[type="checkbox"] {
    display: none;
}

input[type="checkbox"] + label[for="checkbox"] {
    border: 1px solid #72e0cc;
    height: 48px;
    width: 48px;
    cursor: pointer;
}

input[type="checkbox"]:checked + label[for="checkbox"] {
    background: url('../images/form_ok.jpg') center no-repeat;
    height: 48px;
    width: 48px;
    cursor: pointer;
}

.checkbox__label {
  width: 270px;
  margin-left: 10px;
  font-size: 1.20rem;
  color: #C2C2C2;
}

/*footer*/
.footer__register {
  float: left;
  letter-spacing: 1px;
}

.footer__social,
.footer__logo {
  float: right;
}

.footer__logo {
  margin-left: 60px;
  font-size: 1.3rem;
}

.footer__social {
  margin-top: 90px;
  margin-bottom: 30px;
}

.footer__register,
.footer__logo {
  margin-top: 100px;
}

[class*="footer__logo"],
.footer__register {
  color: #939393;
}

.footer__logo--bold {
  font-family: "ralewaybold";
}
