@font-face {
    font-family: 'ralewayblack';
    src: url('../fonts/raleway-black.woff2') format('woff2'),
         url('../fonts/raleway-black.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ralewaybold';
    src: url('../fonts/raleway-bold.woff2') format('woff2'),
         url('../fonts/raleway-bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ralewayextrabold';
    src: url('../fonts/raleway-extrabold.woff2') format('woff2'),
         url('../fonts/raleway-extrabold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ralewayextralight';
    src: url('../fonts/raleway-extralight.woff2') format('woff2'),
         url('../fonts/raleway-extralight.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ralewaylight';
    src: url('../fonts/raleway-light.woff2') format('woff2'),
         url('../fonts/raleway-light.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ralewaymedium';
    src: url('../fonts/raleway-medium.woff2') format('woff2'),
         url('../fonts/raleway-medium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ralewayregular';
    src: url('../fonts/raleway-regular.woff2') format('woff2'),
         url('../fonts/raleway-regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ralewaysemibold';
    src: url('../fonts/raleway-semibold.woff2') format('woff2'),
         url('../fonts/raleway-semibold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ralewaythin';
    src: url('../fonts/raleway-thin.woff2') format('woff2'),
         url('../fonts/raleway-thin.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

p {
  margin: 0;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

html * {
  margin: 0;
  padding: 0;
  border: 0;
  font-family: "ralewayregular";
}

* {
  box-sizing: border-box;
}

header, section, footer {
  width: 100%;
}

div.container {
  max-width: 1050px;
  margin: 0 auto;
  padding: 0 10px;
  position: relative;
}

.float {
  overflow: auto;
}

section:nth-of-type(1)::after,
section:nth-of-type(2)::after,
section:nth-of-type(3)::after,
section:nth-of-type(4)::after {
  content: '';
  clear: both;
  display: table;
}

.float > div {
  float: left;
}

header .header__logo {
  float: left;
}

nav {
  float: right;
}

.prev, .next {
  position: absolute;
  width: 70px;
  font-size: 70px;
  top: calc((100% - 80px) / 2); /* lepiej tak ustawiać top na średnią wysokości - 80px to wielkość fontu */
}

.next {
  right: 0;
}

.prev a, .next a {
  color: #24ba9f;
}

header {
  height: 40px;
  background-color: black;
  padding: 10px;
}

section:nth-of-type(1) {
  background: #fafafa; /* Old browsers */
background: -moz-linear-gradient(top, #fafafa 0%, #cecdd5 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, #fafafa 0%,#cecdd5 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, #fafafa 0%,#cecdd5 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fafafa', endColorstr='#cecdd5',GradientType=0 ); /* IE6-9 */
}

section:nth-of-type(2) {
  height: 350px;
}

section:nth-of-type(3) {
  height: 720px;
}

section:nth-of-type(4) {
  height: 530px;
}

footer {
  height: 130px;
}

.three-headers > div {
  width: 33%;
}

.description {
  width: 350px;
  height: 250px;
  border: 1px solid lightgrey;
}

.section-head {
  position: absolute;
}

.form * {
  width: 430px;
  clear: both;
}

textarea {
  resize: none;
}

.submit {
  width: 230px;
}


footer .footer-title, footer .social {
  float: right;
}

.social {
  margin-right: 40px;
}

.header__logo span, nav a {
  font-size: 12px;
}

.logo__font--bold {
  font-family: 'ralewaybold';
  color: #24ba9f;
}

.logo__font:not(h1), nav a {
  color: white;
}

nav a {
  font-family: 'ralewaybold';
}

nav a:nth-last-of-type(2) {
  margin-left: 50px;
}

nav a:nth-last-of-type(2) {
  margin-right: 40px;
}

h1 {
  font-size: 38px;
}

.headline {
  width: 450px;
  margin-top: 150px;
  text-align: center;
}

.headline p {
  font-size: 16px;
  margin-top: 30px;
  margin-bottom: 40px;
}

.headline__button {
  padding: 10px 30px;
  background-color: #24ba9f;
  border-radius: 10px;
}

.headline__button a {
  font-size: 20px;
  color: white;
}

section:nth-of-type(1) img {
  margin-top: 90px;
  margin-bottom: 40px;
}
