/*container, centered*/
[class*="container"] {
	position: relative;
	max-width: 1076px;
	margin: 0 auto;
  padding-left: 10px;
  padding-right: 10px;
	font: $default-font;
}

/*slider*/
.slider {
	@include slider-gradient;
	&__container {
	  height: 505px;
		> * {
		  float: left;
		}
	}
	&__container:after {
		@extend %fix-clear-float;
	}
	&__prev {
	  @include slider-nav;
		left: 17px;
	}
	&__next {
		@include slider-nav;
		right: 13px;
	}
	&__main > * {
	  float: left;
	}
	&__main:after {
		@extend %fix-clear-float;
	}
	&__main {
	  position: absolute;
	  z-index: 0;
	  left: -28px;
	  width: 974px;
	}
	&__imgwrap {
		position: relative;
		overflow: hidden;
		margin: 0;
		width: 440px;
		height: 360px;
		top: 100px;
		left: 80px;
		ul {
			position: relative;
			display: flex;
			flex-direction: row;
			margin: 0;
			padding: 0;
			height: 400px;
			list-style: none;
			li {
				img {
					position: relative;
					top: -30px;
					left: -75px;
					width: 582px;
				}
			}
		}
	}
	&__logo__item {
		font: $beetwen-font;
	  margin-top: 134px;
	  margin-bottom: 29px;
	  font-size: 2.5rem;
		letter-spacing: -.3px;
	}
	&__logo__item--bold {
	  font: $semibold-font;
	  color: $lead-color;
		font-size: 2.5rem;
		letter-spacing: -.3px;
	}
	&__text {
		position: absolute;
		right: 22px;
	  width: 45%;
	  margin-left: 47px;
	  padding: 0 0 0 6px;
	  text-align: center;
	  line-height: 25px;
		p {
		  font-size: 0.9rem;
		  line-height: 1.35rem;
			letter-spacing: .65px;
		}
	}
}

/*description*/
.description {
	&__container {
	  margin-bottom: 69px;
		> div {
		  float: left;
		}
		&:after {
		  @extend %fix-clear-float;
		}
	}
	&__img, &__text {
		margin-top: 26px;
	  border: 1px solid $description-border-color;
	}
	&__img:nth-child(2) {
	  margin: 26px 29px;
	}
	&__text {
	  position: relative;
	  width: 340px;
	  padding: 20px;
	}
	&__img {
		position: relative;
		overflow: hidden;
	  width: 329px;
		height: 225px;
		transition: all .2s ease-in-out;
		&:hover {
			transform: scale(1.1);
		}
	}
	&__transparent {
		@include transparent-item;
	}
	&__title--img {
	  bottom: 34px;
	  left: 14px;
		@include title;
	}
	&__title--text {
	  top: 27px;
	  left: 22px;
		@include title;
	}
	&__text {
		p {
			color: darken($description-border-color, 50%);
		  font-size: 0.9rem;
		  line-height: 1.3rem;
		}
		p:nth-of-type(1) {
		  margin-top: 48px;
		}
		p:nth-of-type(2) {
		  margin: 22px auto;
		}
	}
}

/*pricelist*/
.pricelist {
	padding-top: 8px;
  padding-bottom: 27px;
  background-color: $pricelist-background-color;
	&__container {
		overflow: auto;
		> div {
		  float: left;
		  margin-top: 150px;
		  margin-bottom: 40px;
		}
		:after {
		  @extend %fix-clear-float;
		}
	}
	&__headline {
		@include headline;
		&:after {
		  @include headline-transparent;
		}
	}
	/*pricelist items with price plans*/
	&__item--odd {
		@include pricelist-item;
	  background-color: nth($pricelist-item-greys, 2);
	  border: 2px solid nth($pricelist-item-greys, 4);
	}
	&__item--even {
		@include pricelist-item;
	  margin-left: 33px;
	  margin-right: 33px;
	  background-color: $lead-color;
	  border: 2px solid $lead-color;
	}
	&__circle__small--odd {
		@include circle-small;
	  background-color: nth($pricelist-item-greys, 4);
	  box-shadow: 0 0 0 13px nth($pricelist-item-greys, 1) inset;
	  border: 2px solid nth($pricelist-item-greys, 4);
	}
	&__circle__small--even {
		@include circle-small;
	  background-color: nth($pricelist-item-greys, 2);
	  border: 15px solid $lead-color;
	}
	&__title--odd {
		@include pricelist-title;
	  color: $lead-color;
	}
	&__title--even {
		@include pricelist-title;
	  color: nth($pricelist-item-greys, 2);
	}
	&__circle__large--odd {
		@include circle-large;
	  background-color: nth($pricelist-item-greys, 1);
	  border: 2px solid nth($pricelist-item-greys, 4);
	}
	&__circle__large--even {
		@include circle-large;
	  background-color: nth($pricelist-item-greys, 2);
	  border: 2px solid nth($pricelist-item-greys, 2);
	}
	&__price--odd {
		@include pricelist-price;
	  color: nth($pricelist-item-greys, 4);
		sup {
			@include sup;
		}
	}
	&__important {
		left: 118px;
		sup {
			left: 68px;
		}
	}
	&__price--even {
		@include pricelist-price;
	  color: $lead-color;
		sup {
			@include sup;
		}
	}
	&__currency--odd {
		@include pricelist-currency;
	  color: nth($pricelist-item-greys, 4);
	}
	&__currency--even {
		@include pricelist-currency;
	  color: $lead-color;
	}
	&__listing--odd {
		li {
			@include pricelist-listing;
			&:nth-child(2n+1) {
			  background-color: nth($pricelist-item-greys, 3);
			  color: nth($pricelist-item-greys, 5);
			}
			&:nth-child(1) {
			  border-top: 3px solid nth($pricelist-item-greys, 1);
			}
			&:nth-child(2n+2) {
			  background-color: $pricelist-background-color;
			  color: nth($pricelist-item-greys, 6);
			}
		}
	}
	&__listing--even {
		li {
			@include pricelist-listing;
			&:nth-child(2n+1) {
			  background-color: nth($pricelist-item-greys, 1);
			  color: nth($pricelist-item-greys, 5);
			}
			&:nth-child(1) {
			  border-top: 3px solid $lead-color;
			}
			&:nth-child(2n+2) {
			  background-color: $pricelist-background-color;
			  color: nth($pricelist-item-greys, 5);
			}
		}
	}
}

/*contact*/
.contact {
	* {
	  display: block;
	}
	&__headline {
		@include headline;
		&:after {
		  @include headline-transparent;
		}
	}
	&__form {
		float: left;
	  width: 60%;
	  margin-top: 116px;
		input[type="text"],
		textarea {
			@include form;
		}
		input[type="text"]::placeholder,
		textarea::placeholder {
		  color: nth($pricelist-item-greys, 4);
		}
		input[id="contact__email"] {
		  margin: 25px 0;
		}
		textarea {
			height: 188px;
		}
	}
}
.submit {
	position: relative;
	top: 230px;
	left: 4px;
	> * {
		float: left;
	}
	&__form {
		float: left;
		width: 340px;
		margin-left: 60px;
		margin-top: 100px;
		&:after {
		  @extend %fix-clear-float;
		}
	}
	&__img {
		position: absolute;
		top: 88px;
		left: 705px;
	  margin-left: 20px;
	  margin-bottom: 35px;
	}
	input[type="checkbox"] {
	    display: none;
	}
	input[type="checkbox"] {
		+ label[for="checkbox"] {
		    border: 1px solid $lead-lighter-color;
				width: 48px;
				height: 48px;
		    cursor: pointer;
		}
		&:checked {
			+ label[for="checkbox"] {
			    background: url('../images/form_ok.jpg') center no-repeat;
			    height: 48px;
			    width: 48px;
			    cursor: pointer;
			}
		}
	}
	.checkbox__label {
	  width: 275px;
	  margin-left: 14px;
		margin-top: 3px;
	  font-size: 1.21rem;
		letter-spacing: .25px;
	  color: nth($pricelist-item-greys, 4);
	}
}
