/*footer*/
.footer {
  &__container {
    position: relative;
  }
  &__register {
    float: left;
    margin-top: 98px;
    letter-spacing: .9px;
    color: nth($pricelist-item-greys, 5);
  }
  &__logo, &__social {
    float: right;
  }
  &__logo {
    margin-top: 93px;
    margin-left: 66px;
    font: $medium-font;
    @include footer-logo;
  }
  &__logo--bold {
    font: $semibold-font;
    @include footer-logo;
  }
  &__social {
    margin-top: 83px;
    margin-bottom: 30px;
  }
}
