/*header*/
header {
  background-color: $header-color;
  padding: 12px 0 10px 0;
  color: $header-font-color;
}
nav {
  float: right;
}
nav:after {
  @extend %fix-clear-float;
}
.header__logo {
  font: $medium-font;
  font-size: .85rem;
  letter-spacing: .04rem;
  margin-left: 2px;
}
.header__logo--bold {
  font: $bold-font;
  color: $lead-color;
  font-size: .85rem;
  letter-spacing: .04rem;
}
.header__nav {
  > li {
    float: left;
    position: relative;
    > a {
      display: block;
      margin-top: 2px;
      font: $semibold-font;
      font-size: .85rem;
      letter-spacing: .04rem;
      color: $header-font-color;
    }
  }
  > li:after {
    @extend %fix-clear-float;
  }
  li:hover {
    > a {
      color: $lead-color;
      transition: all 0.3s ease-in-out;
    }
  }
  > li:nth-child(2) {
    margin-left: 51px;
    margin-right: 37px;
  }
}
.header__bridge {
  display: none;
  position: absolute;
  left: -20px;
  top: -5px;
  width: 120px;
  height: 145px;
  z-index: 1;
}
.header__submenu {
  position: relative;
  top: 45px;
  text-align: center;
  background-color: $header-color;
  padding: 13px 17px 13px 14px;
  li {
    a {
      font: $medium-font;
      font-size: .95rem;
      letter-spacing: .4px;
      color: $header-font-color;
      margin-left: 1px;
    }
  }
  li:nth-of-type(2) {
    padding-top: 8px;
    padding-bottom: 9px;
  }
  li:hover {
    a {
      color: $lead-color;
      transition: all 0.3s;
    }
  }
}
.header__submenu:before {
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  top: -10px;
  left: 44px;
  border-style: solid;
  border-width: 0 10px 10px 10px;
  border-color: transparent transparent $header-color transparent;
}
