/*header*/
header {
  background-color: $header-color;
  padding: 12px 0 10px 0;
  color: $header-font-color;
}

nav {
  float: right;
  &:after {
    @extend %fix-clear-float;
  }
}

.header {
  &__logo {
    font: $medium-font;
    font-size: .85rem;
    letter-spacing: .04rem;
    margin-left: 2px;
  }
  &__logo--bold {
    font: $bold-font;
    color: $lead-color;
    font-size: .85rem;
    letter-spacing: .04rem;
  }
  &__nav {
    position: relative;
    > li {
      float: left;
      &:after {
        @extend %fix-clear-float;
      }
      &:hover {
        > a {
          color: $lead-color;
          transition: all 0.3s;
        }
      }
      &:nth-child(2) {
        margin-left: 51px;
        margin-right: 37px;
      }
      a {
        font: $semibold-font;
        font-size: .85rem;
        letter-spacing: .04rem;
        color: $header-font-color;
      }
    }
  }
  &__submenu {
    display: none;
    position: absolute;
    top: 40px;
    left: -16px;
    background-color: $header-color;
    padding: 13px 17px 13px 14px;
    &:before {
      content: '';
      position: absolute;
      width: 0;
      height: 0;
      top: -10px;
      left: 44px;
      border-style: solid;
      border-width: 0 10px 10px 10px;
      border-color: transparent transparent $header-color transparent;
    }
    li {
      &:nth-of-type(2) {
        padding-top: 8px;
        padding-bottom: 9px;
      }
      &:hover {
        > a {
          color: $lead-color;
          transition: all 0.3s;
        }
      }
      a {
        font: $medium-font;
        font-size: .95rem;
        letter-spacing: .4px;
        color: $header-font-color;
        margin-left: 1px;
      }
    }
  }
}
