// fonts
$light-font: 300 1rem 'Raleway', sans-serif;
$default-font: 400 1rem 'Raleway', sans-serif;
$beetwen-font: 500 1rem 'Raleway', sans-serif;
$medium-font: 600 1rem 'Raleway', sans-serif;
$semibold-font: 700 1rem 'Raleway', sans-serif;
$bold-font: 900 1rem 'Raleway', sans-serif;

// extends
%fix-clear-float {
  content: '';
  display: table;
  clear: both;
}
