// colors
$lead-color: #00C49F;
$lead-lighter-color: lighten($lead-color, 30%);
$header-color: #000;
$header-font-color: #fff;
$slider-gradient-top-color: #fafafa;
$slider-gradient-bottom-color: #cccbd3;
$slider-button-font-color: #fff;
$description-border-color: #dbdbdb;
$pricelist-background-color: #f1f1f1;
$pricelist-headline-font-color: #575757;
$pricelist-item-greys: #fff,#f9f9f9,#e4e4e4,#c2c2c2,#939393,#787878;
$checkbox-font-color: #c2c2c2;
$footer-font-color: #939393;
